*:focus {
    outline: none;
}


.num {
    width: 150px;
    letter-spacing: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 2px #6c757d 0.7;
    text-align: center;
    font-weight: bold;
    color: #6c757d;
}

.num:focus {
    border-bottom: solid 3px #26c66d;
}

.verifyBtn {
    border: none;
    color: white;
    width: 150px !important;
    height: 35px;
    border-radius: 3px;
    background: rgb(125, 249, 182);
    background: linear-gradient(93deg, rgba(125, 249, 182, 1) 0%, #26c66d 100%);
    transition: 0.3s;
}

.verifyBtn:hover {
    /* opacity: 0.6; */
    /* color:rgba(125,249,182,1); */
    /* background: rgba(26, 26, 26, 0.493);
    background: linear-gradient(93deg, rgba(17, 17, 17, 0.662) 0%, rgba(2, 94, 43, 0.689) 100%);  */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    scale: 1.1;
}

.resendBtn {
    border: none;
    color: #26c66d;
    font-size: smaller;
    width: 150px !important;
    background: none;
    transition: 0.3s;
}

.resendBtn:hover {
    color: rgb(6, 137, 67);
}

.errorMsg_1{
    color: #26c66d !important;
}
.errorMsg_2{
    color: #f55b5b !important;
}